{% load static %}
  {% include '../components/header.html' %}
  <link rel="stylesheet" href="{% static 'main_page/tags.css' %}">

  <div class="navigation">
    <a href="{% url 'meal_products' %}" class="menu-link">Еда</a>
    <a href="{% url 'drink_products' %}" class="menu-link">Напитки</a>
  </div>

  <div class="products-container">
    {% for i in products %}
      <div class="product-card">
        <p class="product-name">{{ i.name }}</p>
        <p class="product-price">{{ i.price }}</p>
      </div>
    {% endfor %}
  </div>
  {% include '../components/footer.html' %}

