{% include 'components/header.html' %}
<!-- Контент с карточками -->
<div class="container mt-4 content">
    <div class="row justify-content-center">
        {% for film in film_list %}
        <!-- Пример для еще одной карточки -->
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 100%;">
                <img src="{{ film.image.url }}" class="card-img-top" alt="{{ film.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ film.title }}</h5>
                    <p class="card-text">{{ film.created_at }}</p>
                    <a href="/film_detail/{{ film.id }}/" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% include 'components/footer.html' %}

